* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    /* width: 160px;
    height: 160px; */
    background-color: hsl(0, 50%, 95%);
}

.row {
    border-style: thin dotted hsl(210, 5%, 85%);
}