* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(15, 100%, 90%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 50%, 95%);
    aspect-ratio: 1 / 1;
}

.row {
    border-style: dotted;
    border-color: hsl(210, 5%, 85%);
    border-width: 1px;
    aspect-ratio: 1 / 1;
}

.button {
    padding: 10px 15px;
    border-radius: 5px;
    border-color: hsl(280, 10%, 25%);
    margin: 30px 60px;
    background-color: hsl(10, 90%, 82%);
    color:hsl(282, 10%, 25%);
    font-size:18px;
    font-weight: bold;
    letter-spacing: 2px;
}