* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(209, 18%, 54%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(23, 31%, 89%);
    aspect-ratio: 1 / 1;
}

.grid {
    border-style: dotted;
    border-color: hsl(330, 4%, 81%);
    border-width: 1px;
    aspect-ratio: 1 / 1;
}

.button {
    padding: 10px 15px;
    border-radius: 5px;
    border-color: hsl(214, 16%, 34%);
    margin: 30px 60px;
    background-color: hsl(222, 8%, 70%);
    box-shadow: 5px 5px 15px hsl(214, 16%, 34%);
    color: hsl(214, 16%, 20%);
    font-size:18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.button:hover {
    color: hsl(330, 4%, 81%);
    border-color: hsl(330, 4%, 81%);
}